# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_in_production

# User Service
USER_DB_NAME=userdb
USER_DB_PORT=5432
USER_SERVICE_PORT=8081

# Product Service
PRODUCT_DB_NAME=productdb
PRODUCT_DB_PORT=5433
PRODUCT_SERVICE_PORT=8082

# Order Service
ORDER_SERVICE_PORT=8083
ORDER_DB_NAME=orderdb
ORDER_DB_USER=orderuser
ORDER_DB_PASSWORD=orderpass
ORDER_DB_PORT=5434

# Notification Service (future)
NOTIFICATION_DB_NAME=notificationdb
NOTIFICATION_DB_PORT=5435
NOTIFICATION_SERVICE_PORT=8084

# Spring Profile
SPRING_PROFILE=dev